@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .bg-ball {
        @apply absolute h-[350px] w-[350px] origin-top select-none rounded-full blur-[150px] md:h-[500px] md:w-[500px] md:blur-[200px];
        -webkit-backface-visibility: hidden;
        -webkit-perspective: 1000;
        -webkit-transform: translate3d(0, 0, 0);
        -webkit-transform: translateZ(0);
        backface-visibility: hidden;
        perspective: 1000;
        transform: translate3d(0, 0, 0);
        transform: translateZ(0);
        will-change: transform;
        animation: ball-movement 20s linear infinite;
    }
}

@keyframes ball-movement {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
