.necessities::-webkit-scrollbar {
    height: 5px;
}

.necessities::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.15);
    border-radius: 10px;
}

.necessities::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
}

.necessities::-webkit-scrollbar-thumb:hover {
    background: rgba(56, 56, 56, 1);
}
